.table-view {
    -fx-background-color: #00ADB5;
    -fx-text-fill: #EEEEEE;
    -fx-font-style: italic;
}

.table-view .table-cell {
    -fx-border-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: #93f9b911;
}

.table-row-cell:even {
    -fx-background-color: #1dbbdd11;
}

.button {
    -fx-background-color: #35858B;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 0px;
    -fx-text-fill: #AEFEFF;
}

.button:hover {
    -fx-background-color: #13b6b3;
}

.text-field {
    -fx-font-style: italic;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.date-picker {
    -fx-font-style: italic;
}

.text-area {
    -fx-font-family: Consolas;
    -fx-text-fill: #AEFEFF;
    -fx-background-color: #000000;
}

.text-area .content {
    -fx-background-color: #105b64;
}