.root {
    -fx-background-color: #072227;
}

.button {
    -fx-background-color: #35858B;
    -fx-text-alignment: center;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.text-field {
    -fx-font-style: italic;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.password-field {
    -fx-font-style: italic;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.button:hover {
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: #FFFFFF;
}

#styleStackPane {
    -fx-background-color: #393E46;
}

#styleLabelInexistentUser {
    -fx-text-fill: #a20000;
}